@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #27282e;
  --secondary-color: ;
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --dark-box-shadow: 0 1px 3px rgba(189, 195, 199, 1), 0 1px 2px rgba(189, 195, 199, 1);
}


body {
  background-color: #f2f2f2;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease;
}

/* #login, #signup {
  display: block;
} */

#login.hide, #signup.hide {
  display: none;
}

#logout {
  display: none;
}

#logout.show {
  display: block;
}


/* Main container with transactions */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  margin: 15px auto 30px;
}

h1 {
  letter-spacing: 1px;
}

.far.fa-lightbulb:hover {
  cursor: pointer;
}

.balance {
  text-align: center;
}

.negative-balance {
  color: #c0392b;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 15px 0 10px;
}

h4 {
  margin: 15px auto 10px;
}

#placeholder {
  text-align: center;
  color: #c0392b;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 15px;
  width: 350px;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.income {
  color: #2ecc71;
}

.money.expense {
  color: #c0392b;
}

.balance, #income, #expense, .transaction-amt {
  font-family: sans-serif;
}

.transactions-list {
  list-style-type: none;
  padding: 0;
  width: 450px;
  margin-bottom: 40px;
}

.transactions-list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px 0;
  position: relative;
  width: 100%;
}

.transactions-list li.income {
  border-right: 5px solid #2ecc71;
}

.transactions-list li.expense {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  position: absolute;
  top: 3px;
  right: -35px;
  opacity: 0;
  padding: 0 5px;
}

.edit-btn {
  position: absolute;
  top: -3px;
  left: -35px;
  opacity: 0;
}

.transactions-list li:hover .delete-btn {
  opacity: 1;
}

.transactions-list li:hover .edit-btn {
  opacity: 1;
}

.cta-btn {
  width: 450px;
  font-weight: bold;  
}

.fa-plus {
  margin-right: 20px;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
}

.modal-container.show-modal {
  display: block;
}

.update-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
}

.update-modal-container.show-modal {
  display: block;
}

.form-modal {
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 15px;
}

.modal-form div {
  margin: 15px 0;
  padding: 0 10px;
  position: relative;
}

.check-box label input {
  margin-left: 5px;
}

.close-btn {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.submit-btn {
  margin-bottom: 10px;
  margin-left: 315px;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Dark Mode *******************************************************************/

body.mode {
  background-color: black;
  color: white;
}

.inc-exp-container.mode {
  color: rgba(46, 49, 49, 1);
  box-shadow: var(--dark-box-shadow);
}

.transactions-list.mode li button .fa.fa-edit {
  color: whitesmoke;
}

.transactions-list.mode li  {
  box-shadow: var(--dark-box-shadow);
}

#mode {
  border: none;
  border-radius: 50%;
  font-size: 18px;
  margin: 10px;
}

.mode.dark-mode {
  background-color: dimgray;
}

.login-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
}

.login-modal-container.hide-modal {
  display: none;
}

.signup-modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
}

.signup-modal-container.show-modal {
  display: block;
}



/* Media Queries */

@media only screen and (max-width: 600px)  {
  h1 {
    font-size: 18px;
  }

  .transactions-list, .cta-btn, .inc-exp-container {
    width: 80%;
  }

  .form-modal {
    width: 85%;
  }

  .submit-btn {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .login-form-heading {
    font-size: 16px;
  }
}






